<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Welcome to Open Barnet') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}Open Barnet is the data portal for the London
      Borough of Barnet. It is an important tool in pushing forward
      Barnet’s Transparency Agenda, bringing together all our
      published datasets and other information of interest on one
      searchable database for anyone, anywhere to access. The aim
      is to meet the needs of residents as well as businesses,
      innovators and third sector service providers.
      {% endtrans %}
    </p>

    <p>
      {% trans %}If there are any datasets that you would like to
      see published in the future, or have any other queries or
      feedback, please contact us at
      <a href="mailto:open.data@barnet.gov.uk">open.data@barnet.gov.uk</a>.
      {% endtrans %}
    </p>
  </div>
</div>
