{% ckan_extends %}

{% block package_basic_fields_custom %}
  <div class="control-group control-select">
    <label class="control-label">Frequency</label>
    <div class="controls ">
      <select id="field-frequency_time_modifier" name="frequency_time_modifier">
        {% for i in ["NULL", "After each", "Every"] %}
          <option value={{i}}{% if data.frequency_time_modifier == i %} selected{%endif %}>{{i}}</option>
        {% endfor %}
      </select>

      <select id="field-frequency_count" name="frequency_count">
        <option value=" "{% if data.frequency_count == '' %} selected{%endif %}></option>
        {% for i in range(1, 20) %}
          <option value="{{i}}"{% if data.frequency_count == i %} selected{%endif %}>{{i}}</option>
        {% endfor %}
      </select>

      <select id="field-frequency_update_period" name="frequency_update_period">
        {% for i in [' ', 'real-time', 'ad-hoc', 'daily', 'weekly', 'monthly', 'quarterly', 'annually', 'electoral term(s)', 'general election'] %}
          <option value={{i}}{% if data.frequency_update_period == i %} selected{%endif %}>{{i}}</option>
        {% endfor %}
      </select>

      <select id="field-frequency_period" name="frequency_period">
        {% for i in [' ', 'week', 'month', 'year', 'parliament'] %}
          <option value={{i}}{% if data.frequency_period == i %} selected{%endif %}>{{i}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group control-select">
    <label class="control-label">Retention</label>
    <div class="controls ">
      <select id="field-retention_count" name="retention_count">
        {% for i in range(1, 16) %}
          <option value={{i}}{% if data.retention_count == i %} selected{%endif %}>{{i}}</option>
        {% endfor %}
      </select>

      {% set periods = ["days", "weeks", "months", "years"] %}
      <select id="field-retention_period" name="retention_period">
        {% for period in periods %}
          <option value={{period}}{% if data.retention_period == period %} selected{%endif %}>{{period}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ form.input('delivery_unit', label=_('Delivery Unit'), id='field-delivery_unit', value=data.delivery_unit, error=errors.delivery_unit, classes=['control-medium']) }}

  {{ form.input('Service', label=_('Service'), id='field-service', value=data.service, error=errors.service, classes=['control-medium']) }}
{% endblock %}
