{% ckan_extends %}

{% block package_basic_fields_custom %}
  {% resource 'barnet-theme/scripts/frequency_field.js' %}
  <div class="control-group control-select" data-module="barnet_frequency_field_hider">
    <label class="control-label">Frequency</label>
    <div class="controls ">
      <div>
        <strong>Option 1:</strong>
        <select id="field-frequency_update_period" name="frequency_update_period">
          {% for i in ['', 'Daily', 'Weekly', 'Monthly', 'Quarterly', 'Annually'] %}
            <option value="{{i}}"{% if data.frequency_update_period == i %} selected{%endif %}>{{i}}</option>
          {% endfor %}
        </select>

      </div>

      <div> 
        <strong>Option 2:</strong>
        Every
        <select class="input-mini" id="field-frequency_count" name="frequency_count">
          <option value=""{% if data.frequency_count == '' %} selected{%endif %}></option>
          {% for i in range(2, 20) %}
            <option value="{{i}}"{% if data.frequency_count == i %} selected{%endif %}>{{i}}</option>
          {% endfor %}
        </select>


        <select class="input-small" id="field-frequency_period" name="frequency_period">
          {% for i in ['', 'days', 'weeks', 'months', 'years'] %}
            <option value={{i}}{% if data.frequency_period == i %} selected{%endif %}>{{i}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="control-group control-select">
    <label class="control-label">Retention</label>
    <div class="controls ">
      <select class="input-mini" id="field-retention_count" name="retention_count">
        {% for i in range(1, 16) %}
          <option value={{i}}{% if data.retention_count == i %} selected{%endif %}>{{i}}</option>
        {% endfor %}
      </select>

      {% set periods = ["days", "weeks", "months", "years"] %}
      <select id="field-retention_period" name="retention_period">
        {% for period in periods %}
          <option value={{period}}{% if data.retention_period == period %} selected{%endif %}>{{period}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ form.input('delivery_unit', label=_('Delivery Unit'), id='field-delivery_unit', value=data.delivery_unit, error=errors.delivery_unit, classes=['control-medium']) }}

  {{ form.input('service', label=_('Service'), id='field-service', value=data.service, error=errors.service, classes=['control-medium']) }}

  <div id="next_update" data-module="barnet_dates">
    {% resource 'vendor/jquery.ui.core.js' %}
    {% resource 'barnet-theme/vendor/jquery.ui.theme.css' %}
    {% resource 'barnet-theme/vendor/jquery.ui.datepicker.js' %}
    {% resource 'barnet-theme/vendor/jquery.ui.datepicker.css' %}
    {% resource 'barnet-theme/scripts/dates.js' %}
    {{ form.input('next_update', label=_('Next Update'), id='field-next_update', value=data.next_update, error=errors.next_update, classes=['control-medium', 'has_datepicker']) }}
    {{ form.input('review_date', label=_('Review Update'), id='field-review_date', value=data.review_date, error=errors.review_date, classes=['control-medium', 'has_datepicker']) }}
    {{ form.input('coverage_start_date', label=_('Coverage (start date)'), id='field-coverage_start_date', value=data.coverage_start_date, error=errors.coverage_start_date, classes=['control-medium', 'has_datepicker']) }}
    {{ form.input('coverage_end_date', label=_('Coverage (end date)'), id='field-coverage_end_date', value=data.coverage_end_date, error=errors.coverage_end_date, classes=['control-medium', 'has_datepicker']) }}
  </div>
{% endblock %}
