{% block header_wrapper %}
{% block header_account %}
  <header class="account-masthead">
    <div class="container">
      {% block header_account_container_content %}
        
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            
              {% block header_account_logged %}
              
              {% if 'pages' in g['plugins'] %}
                <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='') }}" title="{{ _('Pages') }}" class="btn">
                  <i class="icon-file"></i> {{ _('Pages') }}
                </a>
              {% endif %}
              
              {% if c.userobj.sysadmin %}
                
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}" class="btn">
                    <i class="icon-legal"></i> {{ _('Admin') }}
                  </a>
                  <a href="{{ h.url_for(controller='user', action='register') }}" title="{{ _('Create User') }}" class="btn">
                    {{ _('Create New User') }}
                  </a>
                
              {% endif %}
              
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="btn" title="{{ _('View profile') }}">
                  <i class="icon-user"></i> <span class="username">{{ c.userobj.display_name }}</span>
                </a>
              
              {% set new_activities = h.new_activities() %}

                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}" class="btn notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                  <i class="icon-dashboard"></i> {{ _('Dashboard') }}
                  <span class="count">({{ new_activities }})</span><span class="sr-only">{{ new_activities }} {{ _('new activities') }}</span>
                </a>
             
              {% block header_account_settings_link %}
                
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}" class="btn">
                    <i class="icon-cog"></i> {{ _('Settings') }}
                  </a>
               
              {% endblock %}
              {% block header_account_log_out_link %}
                
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}" class="btn">
                    <i class="icon-signout"></i> {{ _('Logout') }}
                  </a>
                
              {% endblock %}
              {% endblock %}
            
          </div>
        {% else %}
          <nav class="account not-authed">
            {% block header_account_notlogged %}
              {% link_for _('Sign in'), controller='user', action='login', class_='btn btn-primary' %}
              {% if h.check_access('user_create') %}
                {% link_for _('Register'), controller='user', action='register', class_='btn btn-primary' %}
              {% endif %}
            {% endblock %}
          </nav>
        {% endif %}
        
        {# The .header-image class hides the main text and uses image replacement for the title #}
        <hgroup class="{{ g.header_class }}">
          {% block header_logo %}
            {% if g.site_logo %}
              <a class="logo" href="http://www.barnet.gov.uk/"><img src="{{ h.url_for_static(g.site_logo) }}" alt="{{ g.site_title }} Logo" title="{{ g.site_title }} Logo" /></a>
            {% else %}
              <h1>
                <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
              </h1>
              {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
            {% endif %}
          {% endblock %}
        </hgroup>
        
      {% endblock %}
    </div>
  </header>
{% endblock %}
<header class="masthead">
  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
  <div class="container">
    <div class="navbar">

      {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search" class="sr-only">{{ _('Search Datasets') }}</label>
            <div class="input-append"><i class="icon-search"></i>
              <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search datasets...') }}" />
              <button class="btn" type="submit">{{ _('Go') }}</button>
            </div>
          </div>
        </form>
      {% endblock %}
      
      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('group_index', _('Groups')),
                ('search', _('Datasets')),
                ('about', _('About'))
              ) }}
            {% endblock %}
            <li><a href="http://www.barnet.gov.uk/contact">{{ _('Contact') }}</a></li>
            {# {% set api_url = 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version) %}
              need to set this back when ckan 2.2.2 is released
            #}
            {% set api_url = 'http://ckan.readthedocs.org/en/2.1.3/api.html' %}
            <li><a href="{{ api_url }}">{{ _('API') }}</a></li>
          </ul>
        </nav>
      {% endblock %}
      
    </div>
  </div>
</header>
{% endblock %}
